// colors

$colorGreen: #10988a;
$colorWhite: #ffffff;
$colorGrey: #757575;
$colorBlack: #404040;
$colorSky: #31aae2;
$colorLiteGrey: #969595;
$colorDark: #313131;
$colorB: #2e2e2e;


// fonts

$ffMontserrat: 'Montserrat', sans-serif;
$ffNotoSerif: 'Noto Serif', serif;
$ffMuli: 'Muli', sans-serif;
$PlayFair: 'Playfair Display', serif;



// @media

$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;